!!! 5
%html
  %head
    %title ActionCable Sample
    != stylesheet_link_tag "application", media: "all"
    != javascript_include_tag "application"
    != csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{ href: root_path } ActionCable Sample
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ href: "/" }
                %span channel:
                %label#channel-status.label.label-info No Connection
            - if @user
              %li
                %a{ href: "/" }
                  %span
                    = "user_id: #{@user.id}"
    .container
      != yield
